vaadin:
  launch-browser: true

spring:
  application:
    name: instanal

  datasource:
    url: jdbc:postgresql://postgres:5432/instanal
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: false
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
        generate_statistics: false

logging:
  level:
    liquibase: INFO

